@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.input {
  @apply w-full px-3 py-1  border border-gray-300 dark:border-gray-600
  bg-white dark:bg-gray-800 text-gray-900 dark:text-white
  focus:ring-2 focus:ring-cyan-500 outline-none;
}

.label {
  @apply block mb-1 text-sm font-medium text-gray-700 dark:text-gray-300;
}



.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* shrink the toast box */
.Toastify__toast {
  min-height: auto !important;
  padding: 10px 10px !important;
  font-size: 12px !important;
}

/* shrink the text */
.Toastify__toast-body {
  padding: 14px !important;
  margin: 0 !important;
  font-size: 14px !important;
  line-height: 1.3 !important;
}

/* optional: smaller icon */
.Toastify__toast-icon {
  width: 14px !important;
  height: 14px !important;
}
